/* ==========================================================================
   Imagens - atualizada em 15/12/2019
   ========================================================================== */ 

.imagem {
    width: 100%;
}

.imagem80 {
    width: 80%;
}
.imagem70 {
    width: 70%;
}
.imagem60 {
    width: 60%;
}
.imagem50 {
    width: 50%;
}
.imagem40 {
    width: 40%;
}
	

