/* ==========================================================================
   Listas - atualizada em 14/11/2019
   ========================================================================== */ 


.lista {
	margin-left: 3em;	
}

li {
 margin-bottom: 1em;
 }

ul.sai {
list-style-type: none;

}