/* ==========================================================================
   títulos - atualizada em 15/12/2019
   ========================================================================== */ 


body {
text-align: justify;
}

p {display: block;
  margin-bottom: 1em;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1.5;
}

h1 {
text-align: center;
color: green; 
font-weight: bold; 
font-size: 2em; 
margin-bottom: 150px
}


h2 {
	font-weight: normal;
	text-align: left;
	border-width: 3px;
	padding: 35px;
	border-bottom-style: dotted;
}


h3 {
color: #CD5C5C;  
font-weight: bold;
font-style: italic;
font-size: 1.5em;
margin-top:50px;
margin-bottom: 50px;
}

/* Atividades*/
h3.a {
page-break-before:always;
}


h4 {
color: red;
margin-top:30px;
margin-bottom: 50px;

}

h4.a {
page-break-before:always;
}

